:root {
  --destroyer-color: #c026d3;
  --submarine-color: #2563eb;
  --cruiser-color: #65a30d;
  --battleship-color: #fbbf24;
  --carrier-color: #64748b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ships {
  display: flex;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  margin: 1vmin;
}

.ship > div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.destroyer-container {
  background-color: var(--destroyer-color);
  --width: 2;
}
.submarine-container {
  background-color: var(--submarine-color);
  --width: 3;
}
.cruiser-container {
  background-color: var(--cruiser-color);
  --width: 3;
}
.battleship-container {
  background-color: var(--battleship-color);
  --width: 4;
}
.carrier-container {
  background-color: var(--carrier-color);
  --width: 5;
}
